<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="messege-container">
      <h1> Error </h1>
      <p>Ocurrio un error en la API . Al parecer a ocurrido un error con la peticion. Estan quizas enviando una peticion GET a una url que nesecita otro metodo</p>
    </div>
  </body>

  <style>

    body{
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
    }

    h1{
      color:rgba(0,0,0,0.8);
    }

    p{
      color:rgba(0,0,0,0.6);
      text-align: center;

    }

    .messege-container{
      padding:60px;
      width:30%;
      margin: 130px auto;
    }
  </style>

</html>
