<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <!-- Se supone que no deverias estar biendo este mensaaje :) -->

    <div class="messege-container">
      <h1> Error </h1>
      <p>Esta url no existe , o quizas este dañada. Si tiene algun problema con la api , porfavor pongase en conacto con <a href="https://www.facebook.com/"> SrRiuz </a> :)</p>
    </div>

  </body>

  <style>

    body{
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
    }

    h1{
      color:rgba(0,0,0,0.8);
    }

    p{
      color:rgba(0,0,0,0.6);
      text-align: center;

    }

    .messege-container{
      padding:60px;
      width:30%;
      margin: 130px auto;
    }
  </style>

</html>
